In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
a = 1
b = 2
c = -1231
d = 123
print(a,b,c,d)

1 2 -1231 123

In [4]:
add = 123 + 321
print(add)

444

In [8]:
res = 3 + (2*5)
print(res)

13

In [9]:
res = res/3
print(res)

4.333333333333333

In [10]:
print(1+2-1231)

-1228

In [11]:
print(a+b+c)

-1228

# 변수 문자열 사용법

In [12]:
a = "Hello world!"
print(a)

b = "안녕 세상"
print(b)

Hello world!
안녕 세상

In [13]:
a = "Hi"
print(a)

Hi

In [14]:
b = a
print(b)

Hi

In [15]:
longName = '''원하는
내용물
편하게

여러 줄로 입력하기
'''
print(longName)

원하는
내용물
편하게

여러 줄로 입력하기

# 변수 활용 퀴즈

In [16]:
a = "my name is "
b = "Django"
print(a + b)

my name is Django

In [18]:
num1 ="1234"
num2 = "4321"
print(num1+num2,type(num1+num2))

print(int(num1+num2), type(int(num1+num2)))

12344321 <class 'str'>
12344321 <class 'int'>

In [19]:
K = "P"
P =123
print(K)

P

# if 사용하기

In [23]:
age = 17
if age > 14 and age <= 16:
    print("중학생입니다")
else:
    print("중학생이 아니므로.. 할인해드릴 수 없어요.")

중학생이 아니므로.. 할인해드릴 수 없어요.

In [28]:
score = 55

# 90점 이상은 수
if score >= 90:
    print("수")
if score >= 80 and score < 90:
    print("우")
if score >= 70 and score < 80:
    print("미")
if score >= 60 and score < 70:
    print("양")
if score < 60:
    print("가")

가

In [34]:
age = 19
score = 71

if age >= 20 and score >= 80:
    print("합격")
elif age < 20 and score >= 70:
    print("합격")
else:
    print("불합격")

합격

# 리스트

In [8]:
myname = "박청용"
birth = 650101
addr = "서울 마포 공덕"

person_info = [myname,birth,addr,"남자",1100]
print(person_info[0])
print(person_info[1])
print(person_info[4])

박청용
650101
1100

# 딕셔너리

In [14]:
myname = "박청용"
birth = 650101
addr = "서울 마포 공덕"

user_info ={
    "name" : myname,
    "birth" : birth,
    "addr" : addr,
    "gender" : "남자",
    "point" : 1100}
print(user_info["gender"])
print(user_info["name"])
print(user_info["point"])

남자
박청용
1100

In [24]:
person_info2 = ["박지성",810225,"맨체스터","남자",13000]

user_list = [person_info,person_info2, user_info]
print(user_list[0])
print(user_list[1][2])
print(user_list[2]["addr"])

['박청용', 650101, '서울 마포 공덕', '남자', 1100]
맨체스터
서울 마포 공덕

# 파일 읽기, 쓰기

## 쓰기

In [25]:
f = open("test.csv","w")
f.write("이름,주소\n")
f.write("최도근,마포 공덕\n")
f.write("이현영,서대문 연희\n")
f.close()

## 읽기

In [26]:
f = open("test.csv","r")
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

이름,주소

최도근, 마포 공덕

이현영, 서대문 연희