In [8]:
import pandas as pd

file_names = ["soviet","공대생변승주","냔지","미트",
              "박병창","오늘의하늘","오킹",
             "윽박이","이승인",
             "해그린달"]
all_df = pd.DataFrame()


for file in file_names:
    df = pd.read_excel(file+"_최종규격.xlsx")
    all_df = all_df.append(df,ignore_index = False)


all_df.to_excel("all_data.xlsx")

In [9]:
all_df

        구독자 수      구독자수  분야  싫어요 수  썸네일   영상길이  제목      조회수   좋아요 수  한달업로드 수
0         NaN  790000.0  일상    772  1.0   6:04   1   891271   25000        4
1         NaN  790000.0  일상    340  2.5   5:29   0   740904   22000        4
2         NaN  790000.0  일상    136  2.0   6:38   1   482429   12000        4
3         NaN  790000.0  일상    309  2.0   6:47   1   990325   36000        4
4         NaN  790000.0  일상   2000  2.0   5:04   1  2564107   48000        4
5         NaN  790000.0  일상    791  2.0   5:47   1  1718884   34000        4
6         NaN  790000.0  일상    166  2.5   6:23   0   761152   17000        4
7         NaN  790000.0  일상    156  2.5   7:15   0   668095   18000        4
8         NaN  790000.0  일상    368  2.5   6:06   0   866957   19000        4
9         NaN  790000.0  일상    250  2.5   4:49   1   658346   15000        4
10        NaN  790000.0  일상    442  2.5   4:21   0  1796245   44000        4
11        NaN  790000.0  일상    385  2.0   5:26   1   925631   28000        4
12        NaN  790000.0  일상    314  2.5   5:03   1  1114700   26000        4
13        NaN  790000.0  일상    448  2.5   5:09   1  1387306   30000        4
14        NaN  790000.0  일상    235  2.5   4:20   1   646330   15000        4
15        NaN  790000.0  일상    324  2.5   6:25   0   906566   19000        4
16        NaN  790000.0  일상    471  2.5   5:42   0  1720549   24000        4
17        NaN  790000.0  일상    161  2.5   5:26   1   512833   12000        4
18        NaN  790000.0  일상   1900  2.5   6:52   1  2540005   49000        4
19        NaN  790000.0  일상    803  2.5   6:08   1  1997852   30000        4
20        NaN  790000.0  일상    495  2.5   5:11   1  1506331   28000        4
21        NaN  790000.0  일상    387  2.5   6:18   1  1145784   27000        4
22        NaN  790000.0  일상    463  2.5   5:48   1  1138656   22000        4
23        NaN  790000.0  일상    306  2.5   6:31   1   777840   19000        4
24        NaN  790000.0  일상    361  2.5   5:46   1  1015369   25000        4
25        NaN  790000.0  일상    414  2.5  10:03   1  1272030   28000        4
26        NaN  790000.0  일상    433  2.5   5:05   0  1138820   30000        4
27        NaN  790000.0  일상    145  2.5   0:12   1   482985   17000        4
28        NaN  790000.0  일상    443  2.5   5:25   1   917280   31000        4
29        NaN  790000.0  일상   1000  2.5   6:01   1  1013383   49000        4
..        ...       ...  ..    ...  ...    ...  ..      ...     ...      ...
7   1010000.0       NaN  일상    345  1.5  14:06   1   916330   37000       16
8   1010000.0       NaN  일상    510  1.5   6:53   1   800078   33000       16
9   1010000.0       NaN  일상    101  1.5   7:24   1   263889   14000       16
10  1010000.0       NaN  일상    101  2.5  13:36   1   276553   13000       16
11  1010000.0       NaN  일상    158  1.5   7:59   1   297236   14000       16
12  1010000.0       NaN  일상    248  1.5  13:33   1   568403   25000       16
13  1010000.0       NaN  일상    216  1.5  13:40   1   638982   27000       16
14  1010000.0       NaN  일상    270  1.5  11:32   1   808597   42000       16
15  1010000.0       NaN  일상   1400  1.5  14:50   1  3432488  160000       16
16  1010000.0       NaN  일상    296  1.5   7:48   1   537861   14000       16
17  1010000.0       NaN  일상    184  1.5  15:53   1   586040   25000       16
18  1010000.0       NaN  일상   1100  1.5  15:19   1  3144453  160000       16
19  1010000.0       NaN  일상    298  1.5  21:40   1   813660   22000       16
20  1010000.0       NaN  일상    284  1.5  14:19   1   751887   20000       16
21  1010000.0       NaN  일상    220  1.5   7:57   1   431339   18000       16
22  1010000.0       NaN  일상    226  1.5  16:21   1   687127   24000       16
23  1010000.0       NaN  일상    146  1.5  13:34   1   462835   13000       16
24  1010000.0       NaN  일상    142  1.5  10:14   1   267032    9400       16
25  1010000.0       NaN  일상    161  1.5  14:39   1   514827   12000       16
26  1010000.0       NaN  일상    452  1.5  17:40   1  1063349   20000       16
27  1010000.0       NaN  일상    573  1.5  16:58   1   922348   17000       16
28  1010000.0       NaN  일상    349  1.5  14:37   1   817151   18000       16
29  1010000.0       NaN  일상    210  1.5  16:02   1   424046   12000       16
30  1010000.0       NaN  일상    112  1.5  15:29   1   261269    5700       16
31  1010000.0       NaN  일상    757  2.5  13:30   1  1698233  100000       16
32  1010000.0       NaN  일상   1000  2.5  14:02   1  1556282   50000       16
33  1010000.0       NaN  일상     63  1.5  15:09   1   142041    3000       16
34  1010000.0       NaN  일상    223  1.5  16:05   1   427085   10000       16
35  1010000.0       NaN  일상     68  1.5  13:21   1   181589    3700       16
36  1010000.0       NaN  일상     69  1.5  14:03   1   146945    3100       16

[722 rows x 10 columns]